.pac-container {
  background-color: white;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.pac-item {
  padding: 6px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #dedede;
}